# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
# https://github.com/microsoft/vscode-extension-samples/blob/main/.gitignore
# https://github.com/microsoft/vscode-extension-samples/blob/main/helloworld-sample/.gitignore

node_modules
out
.vs
.vscode-test

*.db
*.vsix